body {
  background-color: darkmagenta;
}
.titulo {
  text-align: center;
  font-size: 60px;
}
.Integrantes {
  background-color: tan;
}

.miembros {
  display: inline;
  padding-right: 0.6em;
}

.cumpleaños {
  display: inline;
  padding-right: 10.1rem;
  justify-content: center;
  text-align: center;
  align-content: center;
}
